In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Reading the CSV dataset 
df_train = pd.read_csv(r"C:\Users\USER\Desktop\DATA ANALYTICS\TECH1M\ASSIGNMENT\rossmann-store-sales\train.csv",low_memory=False)

In [6]:

df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [7]:
df_train.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [8]:
df_train.shape

(1017209, 9)

In [9]:
df_train['Date'] = pd.to_datetime(df_train['Date'])

In [10]:
df_train.dtypes

Store                     int64
DayOfWeek                 int64
Date             datetime64[ns]
Sales                     int64
Customers                 int64
Open                      int64
Promo                     int64
StateHoliday             object
SchoolHoliday             int64
dtype: object

In [11]:
df_train['month'] = df_train['Date'].dt.month

In [12]:
df_train['year'] = df_train['Date'].dt.year

In [13]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,month,year
0,1,5,2015-07-31,5263,555,1,1,0,1,7,2015
1,2,5,2015-07-31,6064,625,1,1,0,1,7,2015
2,3,5,2015-07-31,8314,821,1,1,0,1,7,2015
3,4,5,2015-07-31,13995,1498,1,1,0,1,7,2015
4,5,5,2015-07-31,4822,559,1,1,0,1,7,2015

In [14]:
df_train.pivot_table(index ="year", columns= "Promo",values = "Sales",aggfunc ='sum').round(1)

Promo           0           1
year
2013   1117639183  1185236901
2014   1023596760  1157208136
2015    630738394   758761249

In [15]:
df_train['Period']=df_train['year'].astype(str) +'-'+ df_train['month'].astype(str)

In [16]:
df_train['Period'].head()

0    2015-7
1    2015-7
2    2015-7
3    2015-7
4    2015-7
Name: Period, dtype: object

In [17]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,month,year,Period
0,1,5,2015-07-31,5263,555,1,1,0,1,7,2015,2015-7
1,2,5,2015-07-31,6064,625,1,1,0,1,7,2015,2015-7
2,3,5,2015-07-31,8314,821,1,1,0,1,7,2015,2015-7
3,4,5,2015-07-31,13995,1498,1,1,0,1,7,2015,2015-7
4,5,5,2015-07-31,4822,559,1,1,0,1,7,2015,2015-7

In [18]:
#Using Period column  would be too cumbersome, so I use year column instead to view the impact of promo on sales

df_train.pivot_table(index ="year", columns= "Promo",values = "Sales",aggfunc ='sum').round(1)

Promo           0           1
year
2013   1117639183  1185236901
2014   1023596760  1157208136
2015    630738394   758761249

In [25]:
# This is to view the impact of promo on customer
df_train.pivot_table(index ="year", columns= "Promo",values = "Customers",aggfunc ='sum').round(1)

Promo          0          1
year
2013   132503934  123500491
2014   121234075  119254896
2015    72039798   75508561

# Analysis of promo on sales and customer
Line 18 and 19 shows the  sales and customers performance respectively.
With line 18, the impact of promo on sales  is positive across the three different years.It shows an increment in sales during promo. While the impact of promo on customers had no effect because numbers of customers dropped during promotion for both years 2013 and 2014 except for 2015 that had more customers during promo.